body{
    background-color: antiquewhite;
}


div{
    display:flex;
    justify-content: center;    
}


canvas{
    margin:0;
    border: 10px solid red;
}


.buttons{
    justify-content: center;
}

.btn{
    margin: 20px;
}

h1{
    text-align: center;
}

